<!DOCTYPE html>
<html>
<head>
    <title><%= site.title %> | <%= site.author %></title>
    <% include ../include/css %>
</head>
<body>
<% include ../include/nav %>
<%- body %>
<% include ../include/footer %>
</body>
</html>